        * {
            margin: auto;
        }
        
        h1 {
            text-align: center;
            color: white;
            margin-top: 30px;
            margin-bottom: 90px;
        }
        
        .hide {
            background-color: black;
            color: black;
            text-indent: -9999px
        }
        
        .board td {
            width: 30px;
            height: 30px;
            text-align: center;
            align-items: center;
            transition: .5s;
            color: black;
            border: 2px solid;
        }
        
        .btn {
            display: none;
            height: 40px;
            width: 120px;
            background-color: gray;
            border-radius: 5px;
        }
        
        .btn:hover {
            cursor: pointer;
            font-weight: bold;
            width: 180px;
            background-color: transparent;
            color: gray
        }
        
        .big {
            text-align: center;
            align-items: center;
            margin-left: -40px;
        }
        
        .choices {
            margin-bottom: 25px;
            margin-left: 40px;
            display: inline-block;
            height: 40px;
            background-color: gray;
            border-radius: 6px;
            text-align: center;
            padding-top: 15px;
            width: 90px;
        }
        
        .choices:hover {
            cursor: pointer;
        }
        /* *********************************************** */
        
        .hint {
            margin-bottom: 25px;
            margin-left: 40px;
            display: inline-block;
            height: 40px;
            background-color: gray;
            border-radius: 6px;
            text-align: center;
            padding-top: 15px;
            width: 90px;
        }
        
        .h1 {
            display: inline-block;
            text-align: center;
            align-items: center;
        }
        
        .h2 {
            display: inline-block;
        }
        
        .h3 {
            display: inline-block;
        }