        * {
            margin: auto;
        }
        
        h1 {
            text-align: center;
            color: white;
            margin-bottom: 45px;
            background-color: black;
        }
        
        .hide {
            background-color: black;
            color: black;
            text-indent: -9999px;
            border-radius: 5px;
        }
        
        .board td {
            width: 30px;
            height: 30px;
            text-align: center;
            align-items: center;
            transition: .5s;
            color: black;
            border: 2px solid;
            border-radius: 2px;
            position: relative;
        }
        
        .btn {
            display: none;
            height: 40px;
            width: 120px;
            background-color: gray;
            border-radius: 5px;
            margin-top: 20px;
        }
        
        .btn:hover {
            cursor: pointer;
            font-weight: bold;
            width: 180px;
            background-color: transparent;
            color: gray
        }
        
        .big {
            text-align: center;
            align-items: center;
            margin-left: -40px;
        }
        
        .choices {
            margin-bottom: 40px;
            margin-left: 40px;
            display: inline-block;
            height: 40px;
            background-color: gray;
            border-radius: 6px;
            text-align: center;
            padding-top: 15px;
            width: 90px;
        }
        
        .choices:hover {
            cursor: pointer;
            background-color: transparent;
            font-weight: bold;
            font-style: italic;
            color: royalblue;
            /* font-size: 25px; */
        }
        /* *********************************************** */
        
        .hint {
            position: relative;
            height: 40px;
            background-color: gray;
            border-radius: 6px;
            text-align: center;
            padding-top: 15px;
            width: 1000px;
            text-align: center;
            align-items: center;
            background-color: midnightblue;
            margin: 0 auto;
            width: 60px;
            display: inline-block;
            margin-bottom: 20px;
            color: wheat;
        }
        
        .hint:hover {
            cursor: pointer;
            background-color: transparent;
            color: royalblue;
        }
        
        .h1 {
            text-align: center;
            align-items: center;
        }
        
        .h2 {
            text-align: center;
            align-items: center;
        }
        
        .h3 {
            text-align: center;
            align-items: center;
        }
        
        .ballImg {
            height: 40px;
            margin-right: -10px;
            margin-top: 5px;
        }
        
        .random {
            margin: auto;
            align-items: center;
            height: 40px;
            display: flex;
            margin-bottom: 25px;
        }
        
        .happy {
            margin: auto;
            align-items: center;
            height: 40px;
            display: none;
            margin-bottom: 25px;
        }
        
        .sad {
            margin: auto;
            align-items: center;
            height: 40px;
            display: none;
            margin-bottom: 25px;
        }
        
        .clock {
            position: relative;
            margin: auto;
            height: 50px;
            width: 100px;
            background-color: royalblue;
            font-size: 40px;
            text-align: center;
            border-radius: 10px;
            margin-top: 20px;
        }
        
        .heart {
            width: 25px;
            text-align: center;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        .hearts {
            margin: auto;
            text-align: center;
            margin-top: 15px;
        }
        /* **********************all hearts********************* */
        
        .heart1 {
            text-align: center;
            align-items: center;
        }
        
        .heart2 {
            text-align: center;
            align-items: center;
        }
        
        .heart3 {
            text-align: center;
            align-items: center;
        }